*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    position: absolute;
    width: 59.25%;
    height: 80px;
    margin-top: 50px;
    margin-left: 253px;
    justify-content: center;
    background-color: #320D00;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.container img {
    float: left;
    padding: 10px 0;
    width: 20%;
    margin-left: 10px;
}
.search {
    width: 12%;
    height: 80px;
    background-color:#FF494E;
    margin-top: -71.5px;
    float: right;
}

.search img {
    width: 40%;
    margin-top: 12px;
    margin-left: 30px;
}

header ul {
    margin-left: 200px;
}

header ul li {
    display: inline-block;
    font-family: Myriad Pro;
    font-weight: Semibold Condensed;
    color: white;  
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: -20px;
}
.bg {
    height: 100vh;
    background-image: url('Rectangle\ 2.png');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center ;
    margin-bottom: 150px;
    z-index: -1;
}
.cont{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.671) ;
    margin-top: -550px;
    height: 80vh;
    width: 100%;
}
.cont img{
    margin-top: 30px;
    margin-left: 50px;
}
.cont1 {
    position: absolute;
    margin-top: -510px;
    margin-left: 400px;
    height: 45vh;
    width: 400px;
    background-color: rgba(112, 112, 112, 0.534);
}
.story {
    position: absolute;
    margin-top: 30px;
    margin-left: 25px;
    height: 35vh;
    width: 350px;
    background-color: rgb(255, 255, 255);
}
.story p{
    font-size: 12px;
    text-align: center;
    font-family: Forte;
    margin-top: 35px;
    padding-left: 7px;
    padding-right: 7px;
}
.fasilitas img{
    margin-left: 420px;
    margin-top: 100px;
}
.fasilitas h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 570px;
    margin-top: -350px;
}

.purchase {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color:#F15A24;
    margin-left: 500px;
    margin-top: 470px;
    text-align: center;
    font-size: 22px;
    color: white;
    padding-top: 16px;
}
.maps {
    max-width: 500px;
    margin-top: 300px;
    margin-left: -350px;
}
.maps h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gomaps{
    width: 100%;
}
.cont2{
    position: absolute;
    margin-top: 250px;
    height: 150px;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.137);
}
.cont2 h1 {
    font-family: Kabos Gyula;
    font-size: 40px;
    color: #1E7E7A;
    margin-top: 60px;
    text-align: center;
}

.cont2 img {
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
}
