*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    z-index: 1;
    position: absolute;
    width: 59.25%;
    height: 80px;
    margin-top: -245px;
    margin-left: 253px;
    justify-content: center;
    background-color: #320D00;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.container img {
    float: left;
    padding: 10px 0;
    width: 20%;
    margin-left: 10px;
}
.search {
    width: 12%;
    height: 79px;
    background-color:#FF494E;
    margin-top: -71px;
    float: right;
}

.search img {
    width: 40%;
    margin-top: 12px;
    margin-left: 30px;
}

header ul {
    margin-left: 200px;
}

header ul li {
    display: inline-block;
    font-family: Myriad Pro;
    font-weight: Semibold Condensed;
    color: white;  
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: -20px;
}
.bg {
    width: 100%;
    height: 50vh;
}
.bg video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
h1 {
    position: absolute;
    margin-top: -100px;
    margin-left: 430px;
    color: white;
}

h3 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 140px;
    color: white;
}

.box1 h5 {
    position: absolute;
    color: #CCCCCC;
    margin-top: 15px;
    margin-left: 200px;
    font-family: Myriad Pro;
    font-weight: Semibold Consended;
}

.box1 h6 {
    position: absolute;
    margin-top: 40px;
    margin-left: 200px;
    padding: 10px 70px;
    border: 3px solid;
    border-color: white;
    color: whitesmoke;
    font-style: italic;
}

.box2 h5 {
    position: absolute;
    font-family: Myriad Pro;
    font-weight: Semibold Consended;
    color: #CCCCCC;
    margin-top: 15px;
    margin-left: 430px;
}

.box2 h6 {
    position: absolute;
    margin-top: 40px;
    margin-left: 430px;
    padding: 10px 100px;
    border: 3px solid;
    border-color: white;
    color: whitesmoke;
    font-style: italic;
}
.box3 h5 {
    position: absolute;
    font-family: Myriad Pro;
    color: #CCCCCC;
    margin-top: 15px;
    margin-left: 700px;
    font-family: Myriad Pro;
    font-weight: Semibold Consended;  
}

.box4 h5 {
    position: absolute;
    color: #CCCCCC;
    margin-top: 15px;
    margin-left: 800px;
    font-family: Myriad Pro;
    font-weight: Semibold Consended;
}

.box5 {
    position: absolute;
    margin-top: 40px;
    margin-left: 800px;
    padding: 17px 40px;
    border: 3px solid;
    border-color: white;
}

.box6 {
    position: absolute;
    margin-top: 40px;
    margin-left: 700px;
    padding: 17px 40px;
    border: 3px solid;
    border-color: white;
}

.box7 {
    position: absolute;
    margin-top: 40px;
    margin-left: 900px;
    width: 65px;
    height: 40px;
    background-color: #FF494E;
    border-radius: 20%;
}

.box7 h3{
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.bg1 {
    margin-top: 128px;
    height: 120vh;
    background-image: url('wisata-indonesia.png');
    background-size: cover;
    background-position: center;
}

.cont h1 {
    position: absolute;
    color: #ffffff;
    margin-top: -100px;
    margin-left: 230px;
    font-size: 40px;
}

.cont {
    height: 300px;
    width: 80%;
    background-color: rgba(14, 20, 19, 0.6);
    position: absolute;
    margin-left: 120px;
    margin-top: 250px;
    color: #ffffff;
}

.cont p {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cont1 {
    position: absolute;
    margin-top: 80px;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
}

.pl h3 {
    position: absolute;
    color: black;
    margin-top: 25px;
    margin-left: 130px;
}
.caution h3 {
    position: absolute;
    color: red;
    margin-top: 25px;
    margin-left: 850px;
    font-style: italic;
}

.pl1 {
    margin-top: 130px;
    margin-left: 100px;    
}

.caution1 {
    margin-top: -300px;
    margin-left: 700px;
}

.cont2{
    position: absolute;
    margin-top: 80px;
    height: 150px;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.137);
}
.cont2 h1 {
    font-family: Kabos Gyula;
    font-size: 40px;
    color: #1E7E7A;
    margin-top: 60px;
}

.cont2 img {
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;
}

    
